bigml
kaggle
matplotlib
rise
jupyter_contrib_nbextensions
papermill
qgrid
hurst
ipywidgets
ipynb
umap-learn
sklearn
xgboost
seaborn
statsmodels
tensorflow
keras
opencv-contrib-python
graphviz
torch
torchvision
